/models
/data
__pycache__
*.pyc
/echo
/plots
BinauralDataGen.txt
*.png
*.pdf
*.txt
*.wav
/echo_finetune_tfrecords
experiments/*/checkpoints/
experiments/*/checkpoints1/
older/
experiments/*/logs/
experiments/*/logs1/
original_analysis/
attribution_analysis/
attribution_analysis1/
echo_finetune/
*.meta
*.index
*.npz
*.csv
*.tflite